@charset "utf-8";

input[type='radio'] {
    -webkit-appearance:none; /* utilizzato per poter modificare liberamente il radio button senza venga applicato alcun stile del SO in uso dall'utente */
    width:20px;
    height:20px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none; /*non visualizza contorno */ 
    box-shadow:0 0 5px 0px gray inset;
}
input[type='radio']:hover {
    box-shadow:0 0 5px 0px orange inset;
}
input[type='radio']:before { /*all'interno del radio button viene creato un sottile spazio bianco*/
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:50%;    
}
input[type='radio']:checked:before { /*coloro l'interno del radio button*/
    background:#8b0000;
}

#labelcaricajson{
	margin-top: 5px;
}

.lineaverticale {
	border-left: 2px solid #8b0000;
	opacity: 0.6;
}
#titolopagina{
	color: white;
}

#titolo {
	color: #8b0000;
}

#logoprogetto{
	width: "80";
	height: "80";
}

#crea, #salva, #annullacrea, #salvamodifica, #annullamod, #nuovamissione, #modificamissione, #duplicamissione, #eliminamissione, #nuovaattivita, #modificaattivita, #duplicaattivita, #eliminaattivita, #confermaelimina, #salvaat, #confermaeliminaatt, #confermaeliminamis, #salvamissione, #salvamodat, #salvamodmis, #backhome {
	background-color: #8b0000; 
	color: white;
}

#inviadomandaimg, #inviasfondo {
	background-color: #8b0000; 
	color: white;
	float: right;
}

h6, h5, .form-check-label {
	color: #8b0000;
}
.dropdown-item:active {
  	color: white;
	background-color: #8b0000;
}

h2,h3 {
	text-shadow: 1px 2px 3px black;
	color: #8b0000;
}

.navbar{
	color: white;
	background-color: #8b0000; 
}

h4 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: #8b0000;
	opacity: 0.7;
}

.navbar-toggler{
	border-radius: 5px;
	box-shadow: 2px 2px 2px black;
}

@media (min-width: 320px) and (max-width: 375px){
	#titolo1, #messageerrorfunction, #formattivita, #formmodifica {
		padding: 20px 5px;
	}
	#logoprogetto{
		width: 50px;
		height: 50px;
	}
	#titolopagina{
		font-size: 25px;
	}
	.lineaverticale
	{
		display:none;
	}
}

@media (min-width: 376px) and (max-width: 425px){
	
	#titolo1, #messageerrorfunction, #formattivita, #formmodifica {
		padding: 30px 5px;
	}
	#logoprogetto{
		width: 70px;
		height: 70px;
	}
	#titolopagina{
		font-size: 29px;
	}
	.lineaverticale
	{
		display:none;
	}
}

@media (min-width: 426px) and (max-width: 768px){
	#logoprogetto{
		width: 70px;
		height: 70px;
	}
	#titolopagina{
		font-size: 29px;
	}
	#azionepubblico, #crea, #azionearchivio {
		padding: 5px 5px;
	}
	#eliminaattivita, #eliminamissione, #nuovamissione, #incollamissione, #nuovaattivita, #incollaattivita, #modificaattivita, #modificamissione {
		padding: 5px 5px;
	}
}

@media (min-width: 769px){
	#logoprogetto{
		width: 70px;
		height: 70px;
	}
	#titolopagina{
		font-size: 29px;
	}
	#azionepubblico, #crea, #azionearchivio {
		padding: 5px 5px;
	}
	#eliminaattivita, #eliminamissione, #nuovamissione, #incollamissione, #nuovaattivita, #incollaattivita, #modificaattivita, #modificamissione {
		padding: 5px 5px;
	}
}
