.btn.btn-lg {
	color: white;
	background-color: #8b0000;
}

.navbar{
	background-color: #8b0000;
}

label {
	color:#8b0000;
}

p {
	color: black;
	text-decoration: underline;
}

.navbar-toggler {
	color: white;
	border-radius: 5px;
	box-shadow: 2px 2px 2px black;
}

h2 {
	text-shadow:   1px  2px 3px black;
}

#imageQRcode{
	margin-top: 5%;
	margin-left: 25%;
}

#autore {
	margin-top: 5%;
	margin-left: 25%;
}

#storie {
	margin-top: 5%;
	margin-left: 25%;
}

#buttonQRcode {
	margin-top: 2%;
}

#idt{
	margin-top: 1%;
}

#qrlink{
	margin-top: 1%;
}

#qr {
	margin-top: 1%;
}